@media ( max-width:1200px )
    .advantages
        &__items
            flex-direction: row
            align-items: center
@media ( max-width:1024px )
    .container
        min-width: 93%
        &_1
            max-width: 950px
    .header
        &_1
            width: none
@media ( max-width:991px )
    .promo
        padding: 0 20px 0 20px
    .header
        padding-top: 21px
        max-width: 950px
        &_1
            max-width: 314px
    .advantages
        &__item
            padding: 10px 0px 10px 0px
    .consultation
        .title_left
            text-align: center
        &__descr
            text-align: center
        .feed-form
            margin: 36px auto 0
@media ( max-width: 767px )
    .consultation
        .title_left
            padding: 0px 10px 0px 10px
            font-size: 30px
        &__descr
            font-size: 18px
        .feed-form
            width: 260px
        .button_submit
            font-size: 14px    
    .header

        max-width: 950px
        flex-wrap: wrap
        &__logo
            img
                width: 250px
        &__contacts
            width: 100%
            padding-top: 20px
        &_1
            &:nth-child(3)
                display: flex
                justify-content: center
                margin: 0 auto
                align-items: center
    .promo
        &__wrapper
            align-items: center
        &__link
            margin-bottom: 16px
    .advantages
        &__items
            flex-direction: row
            justify-content: center
            align-items: center
            flex-wrap: wrap
        &__text
            width: 255px
            font-size: 16px
        &__item
            &:nth-child(2)
                margin-top: 20px
@media ( max-width: 668px )
    .header
        justify-content: center
        &__logo
            padding-left: 15px
        &_1
            margin: 15px 0 15px 0

@media ( max-width: 575px )
    .consultation
        .title_left
            font-size: 25px
            list-height: 40px
    .promo
        &__header
            font-size: 35px
        &__subheader
            font-size: 20px
@media ( max-width: 468px )
    .advantages
        .title
            font-size: 25px
    .promo
        &__icons
            width: 300px
        &__header
            font-size: 25px
        &__subheader
            font-size: 15px
@media ( max-width: 375px )
    .promo
        &__header
            font-size: 20px
            line-height: 10px
        &__subheader
            font-size: 12px
            line-height: 5px
        &__icons
            justify-content: space-around


                